In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import accuracy_score
from sklearn.ensemble import RandomForestClassifier

In [2]:
telco_filepath = ("../Desktop/challange/WA_Fn-UseC_-Telco-Customer-Churn.train.csv")
telco_data = pd.read_csv(telco_filepath)

In [3]:
telco_data

,Churn,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,...,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges
0,No,4223-BKEOR,Female,0,No,Yes,21,Yes,No,DSL,...,No,Yes,No,No,Yes,One year,No,Mailed check,64.85,1336.8
1,No,6035-RIIOM,Female,0,No,No,54,Yes,Yes,Fiber optic,...,Yes,No,No,Yes,Yes,Two year,Yes,Bank transfer (automatic),97.20,5129.45
2,Yes,3797-VTIDR,Male,0,Yes,No,1,No,No phone service,DSL,...,No,No,No,No,No,Month-to-month,Yes,Electronic check,23.45,23.45
3,Yes,2568-BRGYX,Male,0,No,No,4,Yes,No,Fiber optic,...,No,No,No,No,No,Month-to-month,Yes,Electronic check,70.20,237.95
4,No,2775-SEFEE,Male,0,No,Yes,0,Yes,Yes,DSL,...,Yes,No,Yes,No,No,Two year,Yes,Bank transfer (automatic),61.90,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5629,Yes,0684-AOSIH,Male,0,Yes,No,1,Yes,No,Fiber optic,...,No,No,No,Yes,Yes,Month-to-month,Yes,Electronic check,95.00,95
5630,No,5982-PSMKW,Female,0,Yes,Yes,23,Yes,Yes,DSL,...,Yes,Yes,Yes,Yes,Yes,Two year,Yes,Credit card (automatic),91.10,2198.3
5631,No,8044-BGWPI,Male,0,Yes,Yes,12,Yes,No,No,...,No internet service,No internet service,No internet service,No internet service,No internet service,Month-to-month,Yes,Electronic check,21.15,306.05
5632,Yes,7450-NWRTR,Male,1,No,No,12,Yes,Yes,Fiber optic,...,No,Yes,No,Yes,Yes,Month-to-month,Yes,Electronic check,99.45,1200.15
5633,No,4795-UXVCJ,Male,0,No,No,26,Yes,No,No,...,No internet service,No internet service,No internet service,No internet service,No internet service,One year,No,Credit card (automatic),19.80,457.3

In [4]:
telco_data.columns

Index(['Churn', 'customerID', 'gender', 'SeniorCitizen', 'Partner',
       'Dependents', 'tenure', 'PhoneService', 'MultipleLines',
       'InternetService', 'OnlineSecurity', 'OnlineBackup', 'DeviceProtection',
       'TechSupport', 'StreamingTV', 'StreamingMovies', 'Contract',
       'PaperlessBilling', 'PaymentMethod', 'MonthlyCharges', 'TotalCharges'],
      dtype='object')

In [5]:
telco_data.isnull().sum()

Churn               0
customerID          0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
dtype: int64

In [6]:
telco_data.OnlineSecurity

0                       Yes
1                        No
2                        No
3                        No
4                       Yes
               ...
5629                    Yes
5630                    Yes
5631    No internet service
5632                     No
5633    No internet service
Name: OnlineSecurity, Length: 5634, dtype: object

# Ho notato che ci sono dei valori che in realtà sono nulli

In [7]:
telco_data.replace("No internet service", np.nan, inplace=True)

In [8]:
telco_data.isnull().sum()

Churn                  0
customerID             0
gender                 0
SeniorCitizen          0
Partner                0
Dependents             0
tenure                 0
PhoneService           0
MultipleLines          0
InternetService        0
OnlineSecurity      1214
OnlineBackup        1214
DeviceProtection    1214
TechSupport         1214
StreamingTV         1214
StreamingMovies     1214
Contract               0
PaperlessBilling       0
PaymentMethod          0
MonthlyCharges         0
TotalCharges           0
dtype: int64

In [9]:
#imputazione colonna con valori categoriali e nan, valore più frequente assegnato ai valori nulli
multipleline_più_frequente = telco_data[['OnlineSecurity', 'OnlineBackup', 'DeviceProtection',
     'TechSupport', 'StreamingTV', 'StreamingMovies']].apply(lambda x: x.fillna(x.value_counts().index[0]))
multipleline_più_frequente

,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies
0,Yes,No,Yes,No,No,Yes
1,No,Yes,No,No,Yes,Yes
2,No,No,No,No,No,No
3,No,No,No,No,No,No
4,Yes,Yes,No,Yes,No,No
...,...,...,...,...,...,...
5629,Yes,No,No,No,Yes,Yes
5630,Yes,Yes,Yes,Yes,Yes,Yes
5631,No,No,No,No,No,No
5632,No,No,Yes,No,Yes,Yes
5633,No,No,No,No,No,No

In [10]:
telco_data[['OnlineSecurity', 'OnlineBackup', 'DeviceProtection',
      'TechSupport', 'StreamingTV', 'StreamingMovies']]= multipleline_più_frequente.astype(str).copy()

In [11]:
telco_data[['OnlineSecurity', 'OnlineBackup', 'DeviceProtection',
     'TechSupport', 'StreamingTV', 'StreamingMovies']]

,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies
0,Yes,No,Yes,No,No,Yes
1,No,Yes,No,No,Yes,Yes
2,No,No,No,No,No,No
3,No,No,No,No,No,No
4,Yes,Yes,No,Yes,No,No
...,...,...,...,...,...,...
5629,Yes,No,No,No,Yes,Yes
5630,Yes,Yes,Yes,Yes,Yes,Yes
5631,No,No,No,No,No,No
5632,No,No,Yes,No,Yes,Yes
5633,No,No,No,No,No,No

## vedo le righe con totalcharges = ' ' che valore hanno di Churn

In [12]:
telco_filtered = telco_data[telco_data['TotalCharges'] == ' '] 
# Stampo il nuovo dataframe
print(telco_filtered.head(15) )
# stampo le dimensioni del dataframe 
print(telco_filtered.shape)

     Churn  customerID  gender  SeniorCitizen Partner Dependents  tenure  \
4       No  2775-SEFEE    Male              0      No        Yes       0
282     No  1371-DWPAZ  Female              0     Yes        Yes       0
2419    No  3213-VVOLG    Male              0     Yes        Yes       0
2734    No  2923-ARZLG    Male              0     Yes        Yes       0
2903    No  7644-OMVMY    Male              0     Yes        Yes       0
3974    No  5709-LVOEQ  Female              0     Yes        Yes       0
5023    No  3115-CZMZD    Male              0      No        Yes       0
5030    No  2520-SGTTA  Female              0     Yes        Yes       0
5343    No  4472-LVYGI  Female              0     Yes        Yes       0
5599    No  4367-NUYAO    Male              0     Yes        Yes       0

     PhoneService     MultipleLines InternetService  ... OnlineBackup  \
4             Yes               Yes             DSL  ...          Yes
282            No  No phone service             DSL  ...          Yes
2419          Yes               Yes              No  ...           No
2734          Yes                No              No  ...           No
2903          Yes                No              No  ...           No
3974          Yes                No             DSL  ...          Yes
5023          Yes                No              No  ...           No
5030          Yes                No              No  ...           No
5343           No  No phone service             DSL  ...           No
5599          Yes               Yes              No  ...           No

     DeviceProtection TechSupport StreamingTV StreamingMovies  Contract  \
4                  No         Yes          No              No  Two year
282               Yes         Yes         Yes              No  Two year
2419               No          No          No              No  Two year
2734               No          No          No              No  One year
2903               No          No          No              No  Two year
3974              Yes          No         Yes             Yes  Two year
5023               No          No          No              No  Two year
5030               No          No          No              No  Two year
5343              Yes         Yes         Yes              No  Two year
5599               No          No          No              No  Two year

     PaperlessBilling              PaymentMethod MonthlyCharges  TotalCharges
4                 Yes  Bank transfer (automatic)          61.90
282                No    Credit card (automatic)          56.05
2419               No               Mailed check          25.35
2734              Yes               Mailed check          19.70
2903               No               Mailed check          19.85
3974               No               Mailed check          80.85
5023               No               Mailed check          20.25
5030               No               Mailed check          20.00
5343              Yes  Bank transfer (automatic)          52.55
5599               No               Mailed check          25.75

[10 rows x 21 columns]
(10, 21)

In [13]:
#Ho notato che tutte le righe con TotalCharges nullo hanno Churn=No quindi ho pensato di eliminare quelle righe 
telco_data.drop(telco_data[telco_data['TotalCharges'] == ' '].index, inplace = True)

In [14]:
telco_data.shape

(5624, 21)

## Cancello la feature che ho pensato non servisse

In [15]:
features_da_eliminare=['customerID']
new_telco_data=telco_data.drop(features_da_eliminare, axis=1, inplace=True)

### controllo il tipo degli oggetti e noto che TotalCharges è un object ma io voglio che sia un float perchè altrimenti i valori cambiano troppo quindi ho preferito cambiare il tipo per mantenere i dati più corretti

In [16]:
telco_data.dtypes

Churn                object
gender               object
SeniorCitizen         int64
Partner              object
Dependents           object
tenure                int64
PhoneService         object
MultipleLines        object
InternetService      object
OnlineSecurity       object
OnlineBackup         object
DeviceProtection     object
TechSupport          object
StreamingTV          object
StreamingMovies      object
Contract             object
PaperlessBilling     object
PaymentMethod        object
MonthlyCharges      float64
TotalCharges         object
dtype: object

In [17]:
# cambio il tipo della colonna TotalCharges perche altrimenti cambiano troppo i valori 
telco_data["TotalCharges"] = telco_data.TotalCharges.astype('float64')

In [18]:
telco_data.TotalCharges.dtypes

dtype('float64')

## Decodifica delle variabili categoriche

In [19]:
s=(telco_data.dtypes == 'object')
telco_object_cols = list(s[s].index)
print (telco_object_cols)

['Churn', 'gender', 'Partner', 'Dependents', 'PhoneService', 'MultipleLines', 'InternetService', 'OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport', 'StreamingTV', 'StreamingMovies', 'Contract', 'PaperlessBilling', 'PaymentMethod']

In [20]:
label_telco_data=telco_data.copy()
label_telco_data
label_encoder=LabelEncoder()
for col in telco_object_cols:
    label_telco_data[col]=label_encoder.fit_transform(label_telco_data[col])

In [21]:
label_telco_data

,Churn,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges
0,0,0,0,0,1,21,1,0,0,1,0,1,0,0,1,1,0,3,64.85,1336.80
1,0,0,0,0,0,54,1,2,1,0,1,0,0,1,1,2,1,0,97.20,5129.45
2,1,1,0,1,0,1,0,1,0,0,0,0,0,0,0,0,1,2,23.45,23.45
3,1,1,0,0,0,4,1,0,1,0,0,0,0,0,0,0,1,2,70.20,237.95
5,0,1,0,0,0,7,1,0,1,0,0,0,0,0,0,0,1,2,69.55,521.35
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5629,1,1,0,1,0,1,1,0,1,1,0,0,0,1,1,0,1,2,95.00,95.00
5630,0,0,0,1,1,23,1,2,0,1,1,1,1,1,1,2,1,1,91.10,2198.30
5631,0,1,0,1,1,12,1,0,2,0,0,0,0,0,0,0,1,2,21.15,306.05
5632,1,1,1,0,0,12,1,2,1,0,0,1,0,1,1,0,1,2,99.45,1200.15
5633,0,1,0,0,0,26,1,0,2,0,0,0,0,0,0,1,0,1,19.80,457.30

## Fisso il target e le feature e splitto i dati

In [22]:
y=label_telco_data.Churn
X=label_telco_data.drop("Churn", axis=1)

In [23]:
train_X,val_X,train_y,val_y=train_test_split(X,y,random_state=0)

In [24]:
train_X

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges
3145,0,1,1,0,3,1,0,1,0,1,0,0,0,0,0,1,0,74.60,239.05
4073,0,0,0,0,1,1,0,1,0,0,0,0,0,0,0,1,3,69.95,69.95
1473,0,0,1,1,70,1,2,1,1,1,1,0,1,1,1,1,1,108.15,7930.55
4673,1,0,1,1,45,1,0,0,1,0,0,1,0,0,2,0,0,54.65,2553.70
3324,1,0,0,1,62,1,0,2,0,0,0,0,0,0,2,0,0,20.00,1250.10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4937,1,0,0,0,19,1,0,1,0,1,1,0,0,0,0,1,2,78.25,1490.95
3269,1,0,1,0,46,1,2,1,0,1,1,0,1,0,1,1,2,94.65,4312.50
1655,0,0,0,1,28,1,0,2,0,0,0,0,0,0,0,0,3,20.25,535.35
2610,0,0,0,0,12,1,0,1,0,0,0,0,0,1,0,0,0,78.10,947.30
2736,0,0,1,0,55,1,2,0,1,1,1,1,1,1,1,1,2,90.15,4916.95

In [25]:
val_X

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges
2522,1,1,0,0,27,1,2,1,0,1,0,0,0,0,0,1,2,81.45,2122.05
4692,1,0,1,0,50,1,2,1,1,1,0,0,0,1,0,1,1,94.40,4914.90
1708,1,0,0,0,72,1,0,2,0,0,0,0,0,0,2,0,0,19.85,1434.10
2133,0,0,0,1,7,0,1,0,1,0,0,0,0,0,0,0,3,29.80,201.95
718,1,0,1,0,72,1,2,0,1,1,1,1,1,1,2,1,1,92.00,6782.15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2015,1,0,0,0,1,1,0,2,0,0,0,0,0,0,2,0,3,20.45,20.45
3036,1,0,0,0,10,1,0,2,0,0,0,0,0,0,0,0,1,20.00,198.70
4659,1,0,1,0,10,1,0,2,0,0,0,0,0,0,1,0,0,19.60,189.45
2236,0,0,0,1,18,0,1,0,0,0,0,0,0,1,0,1,2,35.00,553.00
2797,1,0,1,0,53,1,2,1,1,0,1,0,0,1,0,0,2,93.90,5029.20

## Modellazione e allenamento

In [26]:
#Definisco il modello 
telco_model=RandomForestClassifier(random_state=1)
#Alleno il modello
telco_model.fit(train_X,train_y)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=1, verbose=0,
                       warm_start=False)

In [27]:
#validazione e calcolo del Mean absosulte error
val_pred=telco_model.predict(val_X)

print(mean_absolute_error(val_y,val_pred))

0.1906116642958748

# Accuracy

In [28]:
acc_talco_model=accuracy_score(val_y,val_pred.round())*100
acc_talco_model

80.93883357041251